:root {
  font: 16px / 1 open sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #86BBD8;
  min-height: 100%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  /*background-color: white;*/
}

.card {
  /*background-color: #86BBD8;
  border: none;*/
  padding-left: 3vw;
  padding-right: 3vw;
}

.App {
  text-align: center;
  padding-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #175f74;
}

.navbar-nav {
  background-color: #336699;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
  list-style: none;
  height: 10vh;
  margin-top: 0px;
  width: 100vw;
  font-size: x-large;
}

.navbar.navbar-expand-sm.bg-light {
  background-color: #336699 !important;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100vw;
  height: 10wh;
}

.headshot {
  overflow: hidden;
  display: flex;
  justify-content: center;
  line-height: 5;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 39%;
}

.section-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #86BBD8;
  width: 100%;
  height: 50vh;
  font-size: x-large;
  font-weight: bolder;
}

/*.bubble-box {
  color: black;
  font-size: 22px;
  background-color: #86BBD8;
}*/

.hero-unit {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 55vh;
  padding-left: 80px;
  padding-top: 25px;
  padding-bottom: 20px;
}

.hero-unit-projects-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #86BBD8;
  width: 100vw;
  height: 56vh;
  padding-left: 60px;
  padding-right: 60px;
  border-color: #2F4858;
  padding-bottom: 50px;
  padding-top: 100px;
}

.hero-unit-projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /*background-color: #86BBD8;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;*/
  border-color: #2F4858;
  padding-bottom: 30px;
  padding-top: 30px;
}

.rotate-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #86BBD8;
  width: 100%;
  padding-bottom: 34px;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.body-projects {
  padding-top: 10px;
  padding-right: 70px;
  padding-left: 24px;
  height: fit-content;
}

.cust-quotes {
  width: 840px;
  height: 100px;
  position: relative;
}

.cust-quotes blockquote {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-out 0s, transform 0.5s ease-in 0s;
}

/* IE < 10 fallback */
.no-csstransitions .cust-quotes blockquote,
.no-csstransforms .cust-quotes blockquote {
  position: relative;
}

.cust-quotes blockquote:first-child {
  opacity: 0;
  transform: translateY(-10px) scale(1.1);
}

.cust-quotes blockquote:first-child+blockquote {
  opacity: 1;
  z-index: 1;
  transition: opacity 1.6s ease 0s;
}

.cust-quotes blockquote p {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: #353535;
  line-height: 30px;
  margin-bottom: 10px;
}

.cust-quotes blockquote p:before {
  content: '\201C';
}

.cust-quotes blockquote p:after {
  content: '\201D';
}

.cust-quotes blockquote cite {
  text-align: center;
  font-size: 14px;
  color: #898989;
}

.cust-quotes blockquote cite a {
  font-size: 14px;
  font-weight: normal;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

#testimonials {
  margin: 0 auto;
  width: 940px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  font-size: large;
  font-weight: bold;
  background-color: #86BBD8;
  padding-bottom: 15px;
  padding-left: 78px;
}

.section-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  align-content: space-around;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #336699;
  width: 100vw;
}

.section-projects-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  align-content: space-around;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #336699;
  padding: 0em 2em 0em 0em;
  height: 21vh;
  width: 100vw;
}

.navbar-nav-home-footer {
  background-color: #86BBD8;
}

/*.button {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: space-around;
    background-color: blue;
    font-size: 20px;
    border-radius: 5%;
    padding: .5em;
    margin: -.75em;
  }*/

.square:hover {
  transform: scale(1.5);
  border-radius: 10%;
}

.section-header-react {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: #2F4858;
  width: 104vw;
  height: 15vh;
  color: white;
  font-size: 16px;
  padding-left: 40vw;
  padding-right: 40vw;
}

.section-header-react-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  /*padding: 0em 2em 0em 2em;*/
}

/*@-webkit-keyframes {rotate-text} {
    0%
        opacity: 0;

    30%
        opacity: 1;

    50%
        opacity: 1;

    70%
        opacity: 1;


    100%
        opacity: 0;

p
    font-family: 'Helvetica', sans-serif;
  }*/

.rotate-text {
  -webkit-animation: rotate-text 5000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
  -moz-animation: rotate-text 5000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
  -o-animation: rotate-text 5000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
  animation: rotate-text 5000ms cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
}

.fa {
  padding: 15px;
  font-size: xx-large !important;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  background-color: white;
}

/* Set a specific color for each brand */

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.software-page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 51vh;
  margin: auto;
  margin: auto;
}

.contact-form {
  width: 55vw;
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /*padding-top: 50px;*/
  padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*<section class="container">
      <section class="row span4">*/